{block content}
<div class="css-slideshow">
    <figure>
        <img src="/img/slideshow/5.jpg">
    </figure>
    <figure>
        <img src="/img/slideshow/4.jpg">
    </figure>
    <figure>
        <img src="/img/slideshow/3.jpg">
    </figure>
    <figure>
        <img src="/img/slideshow/2.jpg">
    </figure>
    <figure>
        <img src="/img/slideshow/1.jpg">
    </figure>
</div>
<div id="quote">
    {control textObject 1, false}
    <span> </span>
</div>