# IDE
.idea/

# basic
!.gitignore
!.htaccess

# Nette
log/*
temp/*

app/config/config.local.neon
app/config/secrets.json

# dependencies
vendor/
bower_components/
node_modules/

# built & external files
/www/js/dist/*
/www/css/dist/*

/www/js/ext/*
/www/css/ext/*
