# IDE
.idea/

# basic
!.gitignore
!.htaccess

# Nette
log/*
temp/*

app/config/config.local.neon
app/config/secrets.json

# dependencies
vendor/
bower_components/
node_modules/

# built & external files
/www/js/dist/*
/www/css/dist/*

/www/js/ext/*
/www/css/ext/*
!/www/css/ext/lightbox.css
!/www/css/ext/lightbox.min.css

# uploaded gallery files
/www/img/gallery/*

# Lightbox2 icons
/www/img/lightbox/