{* todo edit mode *}

{if $editing}
    {form editForm}
        {input content}
        {input send}
    {/form}
{else}
    {if $paragraph}
        <p>
    {/if}
    {$content|markdown}
    {if $paragraph}
        </p>
    {/if}

    <span n:if="!$editing && $user->isLoggedIn()" class="edit">
        <a class="ajax" n:href="edit! $id">Upravit</a>
    </span>
{/if}