{if $editing}
    {form editForm}
        {input content}
        {input send}
    {/form}
{else}
    <div class="text-object">
        <span n:if="!$editing && $user->isLoggedIn()" class="edit">
            <a class="ajax" n:href="edit! $id">Upravit</a>
        </span>
        {if $multiparagraph}
            {$content|markdown}
        {else}
            {$content|markdownLine}
        {/if}
    </div>
{/if}