{block title}Galerie{/block}
{block content}
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">
<img src="//placehold.it/300x225">