*
  margin: 0
  padding: 0
  border: none

#ajax-spinner
  position: fixed
  width: 32px
  height: 32px
  top: 32px
  right: 32px
  background: url('/img/spinner.gif') no-repeat
  z-index: 123456

html

body
  cursor: default
  background: url("/img/texture.png") repeat
  font-family: 'Open Sans', sans-serif
  font-size: 17px
  color: $fontlight

div#container
  width: 960px
  margin: 36px auto 0

nav
  height: 120px
  line-height: 120px
  margin-bottom: 12px

  img#logo
    float: left
    height: 120px
    width: auto

  ul#menu
    float: right

    font-size: 24px
    font-weight: bold
    font-variant: small-caps
    color: $fontdark
    list-style-type: none

    li
      display: inline-block
      margin-left: 15px