main#gallery
  font-size: 0

  div#images

    div.image
      display: inline-block
      overflow: hidden
      text-align: center

      width: 300px
      height: 225px

      margin-right: 30px
      margin-bottom: 30px

      &:nth-child(3n)
        margin-right: 0

      span.centerer
        display: inline-block
        height: 100%
        vertical-align: middle

      img
        display: inline-block
        vertical-align: middle

        cursor: pointer

    div#adder
      text-align: left
      font-size: $fontdefaultsize
      color: $fontlight

      div#adder-content
        width: calc(300px - 2em - 2px)
        height: calc(225px - 2em - 2px)

        padding: 1em
        border: 1px dashed $fontlight

        div#headline
          font-size: 1.2em
          font-weight: bold

        div#note
          font-size: .8em

        input[type^="file"]
          margin: 1.5em .3em .5em

        input[type^="submit"]
          margin: .5em .3em 1.5em
          padding: .3em
          border-radius: .2em

  p.no-pictures
    font-size: $fontdefaultsize